[manifest]
version = "1.1.4"
dump_lua = true
priority = 0

# main menu stuff - credits to Astra who made Maximus, Check them out!
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
if self.SPLASH_LOGO then self.SPLASH_LOGO:remove(); self.SPLASH_LOGO = nil end
'''
position = "after"
payload = '''
if self.SPLASH_KH_LOGO then self.SPLASH_KH_LOGO:remove(); self.SPLASH_KH_LOGO = nil end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
if G.SPLASH_LOGO then
    love.graphics.push()
    G.SPLASH_LOGO:translate_container()
    G.SPLASH_LOGO:draw()
    love.graphics.pop()
end
'''
position = "after"
payload = '''

if G.SPLASH_KH_LOGO then
    love.graphics.push()
    G.SPLASH_KH_LOGO:translate_container()

    if not G.SPLASH_KH_LOGO.states.drag.is then
        local scale_mod = 0.07 + 0.02*math.sin(1.8*G.TIMERS.REAL) + 0.00*math.sin((G.TIMERS.REAL - math.floor(G.TIMERS.REAL))*math.pi*14)*(1 - (G.TIMERS.REAL - math.floor(G.TIMERS.REAL)))^3
        local rotate_mod = 0.05*math.sin(1.219*G.TIMERS.REAL) + 0.00*math.sin((G.TIMERS.REAL)*math.pi*5)*(1 - (G.TIMERS.REAL - math.floor(G.TIMERS.REAL)))^2

        G.SPLASH_KH_LOGO:draw_shader('dissolve',0, nil, nil, G.SPLASH_KH_LOGO,scale_mod, rotate_mod,nil, 0.1 + 0.03*math.sin(1.8*G.TIMERS.REAL),nil, 0.6)
        G.SPLASH_KH_LOGO:draw_shader('dissolve', nil, nil, nil, G.SPLASH_KH_LOGO, scale_mod, rotate_mod)
    end

    add_to_drawhash(G.SPLASH_KH_LOGO)

    love.graphics.pop()
end
'''
match_indent = true
times = 1